[submodule "yolov7"]
	path = yolov7
	url = git@github.com:WongKinYiu/yolov7.git
[submodule "JSON2YOLO"]
	path = JSON2YOLO
	url = git@github.com:ultralytics/JSON2YOLO.git
[submodule "hdr-expandnet"]
	path = hdr-expandnet
	url = git@github.com:dmarnerides/hdr-expandnet.git
[submodule "hdr-yolov7"]
	path = hdr-yolov7
	url = git@github.com:rizahmad/hdr-yolov7.git
